body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 200px;
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  margin-right: 80%;
  padding-left: 15px;
  float: left;
}

.photo img{
	height: 150px;
}

.synthDisp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navDisp {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.synthRecipe {
  border: 1px solid black;
  width: available;
  height: available;
}

.recipePrep {
	width:100%;
}

.favoriteBtnOff {
	float: right;
	width:50px;
	height:50px;
	background: rgba(0, 0, 0, 0) url("./Photos/fav_off.png") repeat scroll 0% 0%;
}

.favoriteBtnOn {
	float: right;
	width:50px;
	height:50px;
	background: rgba(0, 0, 0, 0) url("./Photos/fav_on.png") repeat scroll 0% 0%;
}

.recipePrep th, td{
  border: 1px solid black;
  width: 50%;
  text-align: center;
}

.title {
  font-size: 20px;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}